page-inicio {
    .background{
        background-image: url('../assets/imgs/img_home.jpg');
        background-size: 100% 100%;
    }// cores do fundo//
        
    .logo{
        margin-top: 15vh;
        margin-bottom: 30vh;
        text-align: center;
    }
        
    .button{
        text-align: center;
        margin-top: 5%;
        background-color: teal;
        border-radius: 20px;
    }
        
    .autorais{
        text-align: center;
         margin-top: 40px;
        color: #FFFFFF;
        font: arial;
    }
    
}
