page-signup {
    height: auto;
    .background {
        background-image: url('../../assets/imgs/img_cadastro.jpg');
        background-repeat: no-repeat;
		background-size: 100% 100%;
    }
    
    input {
        color: #FFF;
    }
      
    ion-card.card {
        box-shadow: none;
        background: rgba(0,0,0,0.4px);
        border-radius: 10px;
        z-index: 100;
        margin-top: 5vh;
        color: #000;
    }//Fundo tranparente preto kk//
      
    .item {
        background: rgba(232, 230, 230, 0px);
        border: medium none;
    }// deixar as areas de o usuario digitar transparente//
      
    ion-input {
        border-bottom: #FFF solid 1px;
	} //linha azul nos campos de texto//
		
    .oi{
        color: #ffffff;
        // font: arial;
        text-align: center;
        font-size: 15pt;
        font-weight: bold;
    }
    .o{
        color: #ffffff;
        font: arial;
    }//criei outra para não ficar o senha centralizado//

    .button{
        text-align: center;
        margin-top: 5%;
        border-radius: 20px;
    }
}
